* text=auto
*.sh text eol=lf
*.ps1 text eol=crlf
*.py text eol=lf
*.ipynb text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.mmd text eol=lf
*.svg text eol=lf
examples/isv-ontology-package/* text eol=lf